<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Donation - AcadExchange</title>
	<link rel="stylesheet" href="./assets/css/bundle.css">
</head>
<body>
	<header class="header">
		<h1 class="header__title">Donation - <a href="#" class="header__link">AcadExchange</a></h1>
		<nav aria-labelledby="main-navigation" class="navigation">
			<h2 id="main-navigation" role="heading" aria-level="2" class="navigation__header">
				Main navigation
			</h2>
			<ul class="navigation__list">
				<li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Donate equipment</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Get equipment</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Twinning</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">My profile</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">About</a></li>
			</ul>
		</nav>
		<div class="tagline">
			<span class="tagline__title">
				This site might be of interest to you
			</span>
			<p class="tagline__text">
				Are you a Cisco Networking Academy teaching CCNA&nbsp;? Are you struggling to get equipment to teach CCNA at your academy&nbsp;? Or are you having equipment that you do not use anymore at your academy&nbsp;?
			</p>
		</div>
	</header>
	<main role="main">
		<section aria-labelledby="explanation" class="explanation">
			<h2 id="explanation" role="heading" aria-level="2" class="explanation__header">
				The 5 steps to make a donation
			</h2>
			<ol class="explanation__list">
				<li class="explanation__item">
					<section aria-labelledby="register" class="register">
						<h3 id="register" role="heading" aria-level="3" class="register__header">
							Register
						</h3>
						<p class="register__text">Register on the platform. Verify that your information is correct under <a href="#" class="register__link">My profile</a></p>
					</section>
				</li>
				<li class="explanation__item">
					<section aria-labelledby="describe" class="describe">
						<h3 id="describe" role="heading" aria-level="3" class="describe__header">
							Describe
						</h3>
						<p class="describe__text">Describe the equipment that you will donate</p>
					</section>
				</li>
				<li class="explanation__item">
					<section aria-labelledby="test" class="test">
						<h3 id="test" role="heading" aria-level="3" class="test__header">
							Test
						</h3>
						<p class="test__text">Test the equipment to be sure it is fully functional</p>
					</section>
				</li>
				<li class="explanation__item">
					<section aria-labelledby="connect" class="connect">
						<h3 id="connect" role="heading" aria-level="3" class="connect__header">
							Connect
						</h3>
						<p class="connect__text">You will be contacted by an academy requiring the type of equipment you wish to donate after the donation has been approved by a Cisco CSR representativ.</p>
					</section>
				</li>
				<li class="explanation__item">
					<section aria-labelledby="send" class="send">
						<h3 id="send" role="heading" aria-level="3" class="send__header">
							Send
						</h3>
						<p class="send text">Agree on the method to send equipment. We can help you with the step if you need to.</p>
					</section>
				</li>
			</ol>
		</section>
	</main>
	<footer class="footer">
    <nav aria-labelledby="second-nav" class="navigation">
        <h2 id="second-nav" role="heading" aria-level="2" class="navigation__header">
            Secondary navigation
        </h2>
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link">Disclaimer</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Legal informations</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">AcadExchange</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>