<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Get Equipment - AcadExchange</title>
	<link rel="stylesheet" href="./assets/css/bundle.css">
</head>
<body>
	<header class="header">
		<h1 class="header__title">Get Equipment - <a href="#" class="header__link">AcadExchange</a></h1>
		<nav aria-labelledby="main-navigation" class="navigation">
			<h2 id="main-navigation" role="heading" aria-level="2" class="navigation__header">
				Main navigation
			</h2>
			<ul class="navigation__list">
				<li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Donate equipment</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Get equipment</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Twinning</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">My profile</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">About</a></li>
			</ul>
		</nav>
		<div class="tagline">
			<span class="tagline__title">
				This site might be of interest to you
			</span>
			<p class="tagline__text">
				Are you a Cisco Networking Academy teaching CCNA&nbsp;? Are you struggling to get equipment to teach CCNA at your academy&nbsp;? Or are you having equipment that you do not use anymore at your academy&nbsp;?
			</p>
		</div>
	</header>
	<main role="main">
		<section aria-labelledby="explanation" class="explanation">
			<h2 id="explanation" role="heading" aria-level="2" class="explanation__header">
				The 5 steps to apply for Cisco equipment
			</h2>
			<ol class="explanation__list">
				<li class="explanation__item">
					<section aria-labelledby="register" class="register">
						<h3 id="register" role="heading" aria-level="3" class="register__header">
							Register
						</h3>
						<p class="register__text">Describe your academy in terms of curriculum, impacted students,...</p>
					</section>
				</li>
				<li class="explanation__item">
					<section aria-labelledby="describe" class="describe">
						<h3 id="describe" role="heading" aria-level="3" class="describe__header">
							Describe
						</h3>
						<p class="describe__text">Tell us what kind of equipment you need in your academy.</p>
					</section>
				</li>
				<li class="explanation__item">
					<section aria-labelledby="approval" class="approval">
						<h3 id="approval" role="heading" aria-level="3" class="approval__header">
							Approval
						</h3>
						<p class="test__text">Wait till the Cisco CSR representative will approve your request.</p>
					</section>
				</li>
				<li class="explanation__item">
					<section aria-labelledby="connect" class="connect">
						<h3 id="connect" role="heading" aria-level="3" class="connect__header">
							Connect
						</h3>
						<p class="connect__text">Connect with the donator.</p>
					</section>
				</li>
				<li class="explanation__item">
					<section aria-labelledby="send" class="send">
						<h3 id="send" role="heading" aria-level="3" class="send__header">
							Send
						</h3>
						<p class="send text">Agree on shipment details.</p>
					</section>
				</li>
			</ol>
		</section>
	</main>
	<footer class="footer">
    <nav aria-labelledby="second-nav" class="navigation">
        <h2 id="second-nav" role="heading" aria-level="2" class="navigation__header">
            Secondary navigation
        </h2>
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link">Disclaimer</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Legal informations</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">AcadExchange</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>